@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Custom Colors */
  --color-primary-dark: #dc2626;
  --color-background-light: #f5f5f5;
  --color-background-dark: #0a0a0a;
  --color-card-dark: #171717;
  --color-border-dark: #333333;

  /* Font Families */
  --font-display: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth !important;
}

body {
  scroll-behavior: smooth !important;
  font-family: 'Inter', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Space Grotesk', sans-serif;
}

.cyber-glow-text {
  text-shadow: 0 0 20px rgba(239, 68, 68, 0.4);
}

.cyber-glow-box:hover {
  box-shadow: 0 0 20px rgba(239, 68, 68, 0.2);
  border-color: rgba(239, 68, 68, 0.5);
}

#tab-personal:checked~div .tabs-nav .label-personal,
#tab-history:checked~div .tabs-nav .label-history {
  color: #ef4444;
  border-bottom-color: #ef4444;
  text-shadow: 0 0 15px rgba(239, 68, 68, 0.4);
}

#tab-personal:checked~div .tab-content-personal,
#tab-history:checked~div .tab-content-history {
  display: block;
  animation: slideUpFade 0.4s ease-out forwards;
}

@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-border: var(--border);
  --color-ring: var(--ring);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #1c1c22;
  --primary: #e31116;
  --border: #e5e5e7;
  --ring: #a8a8b3;
  --beam-color-1: #e31116;
  --beam-color-2: #f97316;
  --beam-color-3: #f43f5e;
}

.dark {
  --background: #1c1c22;
  --border: #ffffff1a;
  --foreground: #fbfbfb;
  --primary: #dc2626;
  --ring: #7c7c88;
  --beam-color-1: #dc2626;
  --beam-color-2: #fb7185;
  --beam-color-3: #f97316;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}